  <%= form_with(model: @comment, local: true, url: choose_new_or_edit) do |form| %>
  <% if @comment.errors.any?%>
  <div class="error_explanation">
    <P><%= @comment.errors.count %>件のエラーメッセージがあります。</P>
    <% @comment.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
  </div>
  <% end %>
  <div class="field_form">
    <div>
      <h2><%= form.label :"新規 つぶやき入力"%></h2>
    </div>
    <div>
      <p><%= form.text_area :content %></p>
    </div>
    <div>
      <%= form.submit %>
    </div>
    <div class="link">
      <P><%= link_to "みんなのつぶやき一覧へ", comments_path %></P>
    </div>
    </div>
  <% end %>
