<html>
  <header>
    <h2>つぶやき投稿 内容 確認画面</h2>
    <p>下記の内容で投稿されます。<br>よろしければ「投稿」をクリックしてください。</p>
  </header>
  <body>
    <%= form_with(model: @comment, local: true) do |form| %>
    <div class="field_form">
      <div>
        <%= form.hidden_field :"つぶやき内容"%>
      </div>
      <div>
        <%= form.hidden_field :content %>
      </div>
    </div>
    <table>
      <tr>
        <th>つぶやき投稿 内容</th>
      </tr>
      <tr>
        <td><%= @comment.content %></td>
      </tr>
    </table>

    <div>
      <%= form.submit "投稿" %>
    </div>
    <div>
      <%= form.submit "戻る", name: 'back' %>
    </div>
    <% end %>
  </body>
  <footer>

  </footer>
</html>
