<section class="wrap" >
  <header class="header-container">
    <h1>つぶやき投稿 内容 確認画面</h2>
  </header>
  <main class="main-container">
    <p>下記の内容で投稿されます。<br>よろしければ「投稿」をクリックしてください。</p>
    <%= form_with(model: @comment, local: true) do |form| %>
    <div class="field_form">
      <div>
        <%= form.hidden_field :"つぶやき内容"%>
      </div>
      <div>
        <%= form.hidden_field :content %>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>つぶやき投稿 内容</th>
      </tr>
      <tr>
        <td id="comment"><%= @comment.content %></td>
      </tr>
    </table>

    <div class="link">
      <P><%= form.submit "投稿" %></P>
    </div>
    <div class="link">
      <p><%= form.submit "戻る", name: 'back' %></p>
    </div>
    <% end %>
  </section>
  <footer class="footer-container">
    <p>ばびちゃんプロダクト</p>
  </footer>
</section>
