<section class="wrap">
  <header class="header-container">
    <h1>つ ぶ や こ う !</h1>
  </header>
  <main class="main-container">
    <h2>みんなのつぶやき 一覧</h2>
    <%= form_with(model: @comment, local: true) do |form| %>
    <table class="table">
      <tr>
        <th>つ ぶ や き</th>
        <th colspan="2"></th>
      </tr>
      <% @comments.each do |comment| %>
      <tr>
        <td id="comment"><%= comment.content %></td>
        <td><%= link_to "編集", edit_comment_path(comment.id), data: {confirm: "編集しても良いですか？"} %></td>
        <td><%= link_to "削除", comment_path(comment.id), method: :delete, data: {confirm: "削除しても良いですか？"} %></td>
      </tr>
      <% end %>
    </table>
    <div class="link">
      <P><%= link_to "新規投稿をする", new_comment_path %></P>
    </div>
    <% end %>
  </main>
  <footer class="footer-container">
    <p>ばびちゃんプロダクト</p>
  </footer>
</section>
